.vs/
.metadata/
Debug/
Doxygen/
.settings/
.DS_Store
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Doxygen/swont_ide.doxyfile
/CubeIDE/Swont_ide_uart_6.5/swont_ide/.settings/language.settings.xml
*.o
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/usart.o
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/usart.d
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/tim.o
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/tim.d
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/stm32f4xx_it.o
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/stm32f4xx_it.d
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/stm32f4xx_hal_msp.o
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/stm32f4xx_hal_msp.d
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/main.su
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/main.o
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/main.d
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/main.cyclo
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/gpio.o
/CubeIDE/Swont_ide_uart_6.5/swont_ide/Debug/Core/Src/gpio.d
